<nav>
  <% if(user) { %>
  <a href="/puzzles/dashboard" class="btn btn-warning">Dashboard</a>
  <a href="/puzzles/new"><button class="btn btn-primary">Upload</button></a>
  <a href="/explore"><button class="btn btn-primary">Explore</button></a> 
  <form action="/logout?_method=DELETE" method="POST">
    <input class="btn btn-danger" type="submit" value="Log Out" />
  </form>
  <a href = "/inventory"><button class="btn btn-info">My Box</button></a>
  <% } else { %>
  <a href="/">Home</a>
  <a href="/signup">Register</a>
  <a href="/login">Login</a>
  <% } %>
</nav>