<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <script src="/scripts/upload-img.js" defer></script>
    <title>Upload Puzzle</title>
  </head>

  <body>
    <%- include('../partials/nav.ejs') %>
    <h1>Add Puzzle</h1>
    <div class="container" style="max-width:80%;">
      <form action = "/puzzles" method="POST">
        <div class="row justify-content-center p-2">
          <div class="col-md-6">
            <label for="img" class="form-label">Image URL</label>
            <input class="form-control" type="text" id="url-input" name="img" placeholder="type you URL here" required>
          </div>
        </div>
        <div class="row justify-content-center my-3">
          <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="upload-btn">Upload Image</button>
          </div>
        </div>
        <div class="container my-5 shadow p-3 mb-5 bg-body rounded">
          <div class="row">
            <div class="col-md-6 p-3">
              <img id="display-img" src="https://i.imgur.com/hHjTONVm.png" width="100%">
            </div>
            <div class="col-md-6 p-4">
                  <label for="title" class="form-label">Puzzle Name</label><br>
                  <input type="text" class="form-control mb-4" id="title" name="title" placeholder="Puzzle Title">
                  <label for="description" class="form-label">Brief Description</label>
                  <textarea name="description" placeholder="Write brief description about the puzzle" class="form-control" rows="6"></textarea><br>
                  <input id="exchangeable" type="checkbox" name="exchangeable" class="form-check-input">
                  <label for="exchangeable" class="form-check-label">Exchangeable</label><br>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-2 p-4">
              <button type="submit" class="btn btn-primary">Add Puzzle</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>