<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Puzzled</title>
  </head>

  <body>
    <%- include ('./partials/nav.ejs') %>
    <img src="https://i.imgur.com/Rf4lWYY.png" width="100%">
    <img src="https://i.imgur.com/MuoPFuc.jpg" width="100%">
    <img src="https://i.imgur.com/K6Oyp4w.jpg" width="100%">
    <div class="container py-5">
      <div class="row justify-content-center my-4">
        <div class="col-4 text-center">
          <a href="/signup"><button class="btn btn-lg btn-primary">SIGN UP FOR A FREE ACCOUNT</button></a>
        </div>
      </div>
      <div class="row justify-content-center my-4">
        <div class="col-4 text-center">
          <a href="/login"><button class="btn btn-lg btn-primary">LOG IN</button></a>
        </div>
      </div>
    </div>
  </body>
</html>